<!doctype html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}ReCo{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <p>
                    <a href="{% url 'home' %}">ReCo + Tr3vos</a>
                    <img src="{% static 'images/logo.svg' %}" alt="Logo" height="28">
                </p>

                <ul class="main-nav">
                    <li><a href="{% url 'marketplace:index' %}">Marketplace</a></li>
                    <li><a href="{% url 'usuario:index' %}">Usuário</a></li>
                    <li><a href="{% url 'perfil:index' %}">Perfil</a></li>
                </ul>

                
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>Projeto mínimo Django — ReCo</p>
        </footer>
    </body>
</html>
